@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.features__card-text, .technology__card-text, .footer__card-body, .footer__copyright {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
}

button, .menu__link, .about__text, .about__link, .benefits__description, .contact__text, .contact__form-submit {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

.contact__form-field {
  font-family: "Lato Regular", sans-serif;
  font-size: 16px;
}

.offer__button {
  font-family: "Lato Semibold", sans-serif;
  font-size: 14px;
}

.offer__description {
  font-family: "Lato Semibold", sans-serif;
  font-size: 24px;
}

.about__title, .features__title, .technology__title, .benefits__title, .contact__title {
  font-family: "Lato Semibold", sans-serif;
  font-size: 36px;
}

.features__card-link {
  font-family: "Lato Bold", sans-serif;
  font-size: 12px;
}

.navbar__brand-text, .features__card-title, .technology__card-title, .footer__card-title {
  font-family: "Lato Bold", sans-serif;
  font-size: 18px;
}

.offer__title {
  font-family: "Lato Bold", sans-serif;
  font-size: 72px;
}

.technology__card-header span {
  font-family: "Lato Bold", sans-serif;
  font-size: 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
}

main * {
  color: #000000;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.navbar {
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .navbar {
    margin: 0 30px;
  }
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand-text {
  text-transform: uppercase;
  margin-left: 10px;
  padding-top: 3px;
}

.navbar__button {
  margin-left: 20px;
  padding: 12px 28px;
  border: 2px solid #ffffff;
}

@media (max-width: 992px) {
  .navbar__button {
    display: none;
  }
}

.navbar__button:hover {
  background-color: #ffffff;
  color: #000000;
}

.navbar__hamburger {
  padding: 8px 10px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  display: none;
}

.navbar__hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  position: relative;
  background: #ffffff;
  margin: 4px 0;
}

@media (max-width: 992px) {
  .navbar__hamburger {
    display: block;
  }
}

.language {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

@media (max-width: 992px) {
  .language {
    display: none;
  }
}

.language__text {
  padding: 0 12px;
}

.menu {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }
}

.menu__link {
  text-transform: uppercase;
  padding: 0 10px;
}

.header {
  height: 782px;
  position: relative;
  background: url("../../images/header-bg.jpg") no-repeat center;
  background-size: cover;
}

.header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8));
}

.offer {
  position: relative;
  z-index: 1;
  color: #ffffff;
  width: auto;
  text-align: center;
  margin: 180px auto;
}

.offer__title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .offer__title {
    font-size: 56px;
  }
}

.offer__description {
  line-height: 1.5;
  margin: 50px 0 60px;
}

.offer__button {
  background-color: #ffffff;
  color: #ed4c5c;
  border: 3px solid #ffffff;
  padding: 16px 52px;
}

.offer__button:hover {
  background-color: transparent;
  color: #ffffff;
}

.about {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.about__left, .about__right {
  width: 50%;
}

@media (max-width: 768px) {
  .about__left, .about__right {
    width: 100%;
    margin: 50px 0 0;
  }
}

.about__left-inner, .about__right-inner {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 768px) {
  .about__left-inner, .about__right-inner {
    margin: 0 auto;
    text-align: center;
  }
}

.about__right img {
  width: 100%;
  border-radius: 15px;
}

.about__title {
  line-height: 1.2;
  margin-top: 40px;
}

.about__text {
  margin-top: 42px;
  line-height: 1.4;
  text-align: justify;
}

.about__link {
  color: #ed4c5c;
  margin-top: 24px;
}

.about__play-btn {
  background: url("../../icons/play.svg");
  height: 66px;
  width: 66px;
  position: absolute;
  top: 50%;
  margin: -33px;
}

@media (max-width: 768px) {
  .about__play-btn {
    left: 50%;
  }
}

.features {
  margin-top: 115px;
  background-color: #fafafa;
  padding: 25px 0 230px;
}

@media (max-width: 768px) {
  .features {
    padding-bottom: 0;
  }
}

.features__title {
  text-align: center;
  display: block;
  margin-bottom: 65px;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .features__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__card {
  width: 33.333333%;
  padding: 0 15px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .features__card {
    padding: 0;
    margin: 0 30px 100px;
    width: auto;
  }
}

.features__card:first-child {
  padding-left: 0;
}

.features__card:last-child {
  padding-right: 0;
}

.features__card-header {
  width: 100%;
}

.features__card-header img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__card-body {
  position: absolute;
  top: 60%;
  margin: 0 28px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .features__card-body {
    width: 65%;
    height: 231px;
  }
}

@media (max-width: 992px) {
  .features__card-body {
    height: 264px;
  }
}

@media (max-width: 768px) {
  .features__card-body {
    height: auto;
  }
}

.features__card-text {
  margin-top: 16px;
  margin-bottom: 26px;
}

.features__card-link {
  color: #ed4c5c;
  margin-top: auto;
}

.technology {
  padding: 63px 0 105px 0;
}

.technology__title {
  text-align: center;
  margin-bottom: 50px;
}

.technology__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technology__card {
  width: 25%;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .technology__card {
    width: 50%;
    padding: 0;
    margin-bottom: 30px;
  }
}

.technology__card:first-child {
  padding-left: 0;
}

.technology__card:last-child {
  padding-right: 0;
}

.technology__card-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology__card-header span {
  color: rgba(0, 0, 0, 0.08);
}

.technology__card-header img {
  position: absolute;
  bottom: 0;
}

.technology__card-title {
  margin: 14px 0 10px;
}

.technology__card-text {
  padding: 0 32px;
  line-height: 1.2;
}

.benefits {
  padding: 95px 0;
  background-color: #ed4c5c;
}

.benefits * {
  color: #ffffff;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .benefits__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 40px;
  }
}

.benefits__left {
  padding-right: 15px;
  width: 42%;
}

@media (max-width: 768px) {
  .benefits__left {
    width: 100%;
    margin-bottom: 40px;
  }
}

.benefits__right {
  padding-left: 15px;
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .benefits__right {
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
  }
}

.benefits__right img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.benefits__title {
  line-height: 1.2;
  margin-top: 30px;
}

.benefits__description {
  text-align: justify;
  line-height: 1.4;
  margin: 40px 0;
}

@media (max-width: 768px) {
  .benefits__description {
    text-align: center;
  }
}

.benefits__systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .benefits__systems {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.benefits__systems img {
  margin-right: 26px;
}

.contact {
  padding: 115px 0 120px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.contact__left {
  width: 40%;
  padding-left: 12px;
}

@media (max-width: 768px) {
  .contact__left {
    width: auto;
    padding: 0;
    margin: 0 40px 40px;
  }
}

.contact__right {
  width: 50%;
}

@media (max-width: 768px) {
  .contact__right {
    width: auto;
    margin: 0 50px;
  }
}

.contact__title {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .contact__title {
    margin-bottom: 30px;
  }
}

.contact__form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form .row .contact__form-field {
  margin: 0 15px 24px;
}

.contact__form .row .contact__form-field:first-child {
  margin-left: 0;
}

.contact__form .row .contact__form-field:last-child {
  margin-right: 0;
}

.contact__form-field {
  width: 100%;
  margin-bottom: 24px;
  padding: 20px 0 20px 30px;
  border: 1px solid #333333;
  border-radius: 6px;
  color: rgba(19, 39, 67, 0.5);
  outline: none;
}

.contact__form-field::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact__form-field:-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact__form-field::-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact__form-field::placeholder {
  color: rgba(19, 39, 67, 0.5);
}

.contact__form-field:last-child {
  margin-bottom: 27px;
}

.contact__form-field.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../icons/ChevronDown(E70D).svg") no-repeat;
  background-size: 14px;
  background-position: calc(100% - 26px);
}

.contact__form-submit {
  padding: 16px 34px;
  background-color: #ed4c5c;
  color: #ffffff;
  border: 3px solid #ed4c5c;
}

.contact__form-submit:hover {
  background-color: transparent;
  color: #ed4c5c;
}

.footer {
  padding: 0 85px;
  background-color: #fafafa;
}

.footer * {
  color: #101010;
  font-style: normal;
}

.footer__inner {
  padding: 85px 0;
}

.footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.footer__card {
  width: 25%;
  margin: 0 15px;
}

.footer__card:first-child {
  margin-left: 0;
}

.footer__card:last-child {
  margin-right: 0;
}

.footer__card-header {
  padding-bottom: 33px;
}

.footer__card-body address {
  line-height: 1.5;
}

.footer__card-body .pays img {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.footer__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  text-transform: capitalize;
  line-height: 1.6;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts .email {
  margin-bottom: 11px;
}

.footer__contacts .phone {
  margin-bottom: 20px;
}

.footer__contacts .socials img {
  margin-right: 15px;
}
/*# sourceMappingURL=styles.css.map */