@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.features__card-text, .technology__card-text {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
}

button, .menu__link, .about__text, .about__link {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

.offer__button {
  font-family: "Lato Semibold", sans-serif;
  font-size: 14px;
}

.offer__description {
  font-family: "Lato Semibold", sans-serif;
  font-size: 24px;
}

.about__title, .features__title, .technology__title {
  font-family: "Lato Semibold", sans-serif;
  font-size: 36px;
}

.features__card-link {
  font-family: "Lato Bold", sans-serif;
  font-size: 12px;
}

.navbar__brand-text, .features__card-title, .technology__card-title {
  font-family: "Lato Bold", sans-serif;
  font-size: 18px;
}

.offer__title {
  font-family: "Lato Bold", sans-serif;
  font-size: 72px;
}

.technology__card-header span {
  font-family: "Lato Bold", sans-serif;
  font-size: 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
}

main * {
  color: #000000;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.navbar {
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand-text {
  text-transform: uppercase;
  margin-left: 10px;
  padding-top: 3px;
}

.navbar__button {
  padding: 12px 28px;
  border: 2px solid #ffffff;
}

.navbar__button:hover {
  background-color: #ffffff;
  color: #000000;
}

.language {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.language__text {
  padding: 0 12px;
}

.menu {
  margin: 0 100px;
}

.menu__link {
  text-transform: uppercase;
  padding: 0 10px;
}

.header {
  height: 782px;
  position: relative;
  background: url("../../images/header-bg.jpg") no-repeat center;
  background-size: cover;
}

.header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8));
}

.offer {
  position: relative;
  z-index: 1;
  color: #ffffff;
  width: 600px;
  text-align: center;
  margin: 180px auto;
}

.offer__title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.offer__description {
  line-height: 1.5;
  margin: 50px 0 60px;
}

.offer__button {
  background-color: #ffffff;
  color: #ed4c5c;
  border: 3px solid #ffffff;
  padding: 16px 52px;
}

.offer__button:hover {
  background-color: transparent;
  color: #ffffff;
}

.about {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__left, .about__right {
  width: 50%;
}

.about__left-inner, .about__right-inner {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.about__right img {
  width: 100%;
  border-radius: 15px;
}

.about__title {
  line-height: 1.2;
  margin-top: 40px;
}

.about__text {
  margin-top: 42px;
  line-height: 1.4;
  text-align: justify;
}

.about__link {
  color: #ed4c5c;
  margin-top: 24px;
}

.about__play-btn {
  background: url("../../icons/play.svg");
  height: 66px;
  width: 66px;
  position: absolute;
  top: 50%;
  margin: -33px;
}

.features {
  margin-top: 115px;
  background-color: #fafafa;
  padding: 25px 0 230px;
}

.features__title {
  text-align: center;
  display: block;
  margin-bottom: 65px;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__card {
  width: 33.333333%;
  padding: 0 15px;
  position: relative;
  text-align: center;
}

.features__card:first-child {
  padding-left: 0;
}

.features__card:last-child {
  padding-right: 0;
}

.features__card-header img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__card-body {
  position: absolute;
  top: 60%;
  margin: 0 28px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.features__card-text {
  margin-top: 16px;
  margin-bottom: 26px;
}

.features__card-link {
  color: #ed4c5c;
}

.technology {
  padding: 63px 0 105px 0;
}

.technology__title {
  text-align: center;
  margin-bottom: 50px;
}

.technology__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.technology__card {
  width: 25%;
  text-align: center;
  padding: 0 15px;
}

.technology__card:first-child {
  padding-left: 0;
}

.technology__card:last-child {
  padding-right: 0;
}

.technology__card-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology__card-header span {
  color: rgba(0, 0, 0, 0.08);
}

.technology__card-header img {
  position: absolute;
  bottom: 0;
}

.technology__card-title {
  margin: 14px 0 10px;
}

.technology__card-text {
  padding: 0 32px;
  line-height: 1.2;
}
/*# sourceMappingURL=styles.css.map */