@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.eot");
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Regular.woff") format("woff"),
        url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato Semibold";
    src: url("../fonts/Lato-Semibold.eot");
    src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Semibold.woff") format("woff"),
        url("../fonts/Lato-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bold.eot");
    src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Bold.woff") format("woff"),
        url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

%regular {
    &-12 {
        font-family: "Lato Regular", sans-serif;
        font-size: 12px;
    }
    &-14 {
        font-family: "Lato Regular", sans-serif;
        font-size: 14px;
    }
    &-16 {
        font-family: "Lato Regular", sans-serif;
        font-size: 16px;
    }
}

%semi {
    &-14 {
        font-family: "Lato Semibold", sans-serif;
        font-size: 14px;
    }
    &-24 {
        font-family: "Lato Semibold", sans-serif;
        font-size: 24px;
    }
    &-36 {
        font-family: "Lato Semibold", sans-serif;
        font-size: 36px;
    }
}

%bold {
    &-12 {
        font-family: "Lato Bold", sans-serif;
        font-size: 12px;
    }
    &-18 {
        font-family: "Lato Bold", sans-serif;
        font-size: 18px;
    }
    &-72 {
        font-family: "Lato Bold", sans-serif;
        font-size: 72px;
    }
    &-100 {
        font-family: "Lato Bold", sans-serif;
        font-size: 100px;
    }
}
