.about {
    margin-top: 94px;
    display: flex;
    &__left,
    &__right {
        width: 50%;
    }
    &__left-inner,
    &__right-inner {
        width: 80%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__right {
        img {
            width: 100%;
            border-radius: 15px;
        }
    }
    &__title {
        @extend %semi-36;
        line-height: 1.2;
        margin-top: 40px;
    }
    &__text {
        @extend %regular-14;
        margin-top: 42px;
        line-height: 1.4;
        text-align: justify;
    }
    &__link {
        @extend %regular-14;
        color: #ed4c5c;
        margin-top: 24px;
    }
    &__play-btn {
        background: url("../../icons/play.svg");
        height: 66px;
        width: 66px;
        position: absolute;
        top: 50%;
        margin: -33px;
    }
}
